<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite"><test verbose="2" preserve-order="true" name="C:/Users/user/automation/MinutemediaHomeTask/src/test/java/tests/UsersServiceAPITest.java"><classes><class name="tests.UsersServiceAPITest"><methods><include name="testAddUser"/><include name="testGetUser_ReturnsUserWithId"/><include name="testGetUser_ReturnsUsersList"/><include name="testEditUser"/><include name="testDeleteUser"/></methods></class></classes></test></suite>